# Items to ignore when downloading a zip

.gitattributes export-ignore
.CONTRIBUTING.md export-ignore
.gitignore export-ignore
.travis.yml export-ignore
/bin/ export-ignore
/tests/ export-ignore
composer.json export-ignore
phpunit.xml export-ignore
README.md export-ignore
